.sidebar {
  width: 80px;
  min-width: 80px;
  background: linear-gradient(to bottom, #8a25e2c7, #2260dd);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.profile {
  text-align: center;
  margin-bottom: 100px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-weight: bold;
  font-size: 18px;
}

.nav {
  flex: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding: 10px;
}

.nav-icon {
  width: 32px;
  height: auto;
  margin-bottom: 5px;
}

.sidebar-bottom {
  margin-top: 20px;
}

.bottom-image {
  width: 35px;
  height: auto;
  margin-bottom: 10px;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  padding: 20px;
}

/*  Move to other file the code below */

.content-left {
  background-color: white;
  flex-grow: 1; /* Allows it to expand to fill space when content-right is hidden */
  transition: flex-grow 0.3s ease; /* Smooth transition for resizing */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Ensures vertical scroll within the panel */
  margin-right: 20px;
}


.filter-brand-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-brand-item:hover {
  background-color: #e2e2e2; /* Efeito hover para destacar a interatividade */
}

.selected-brand {
  background-color: #4caf50; /* Cor de fundo ao selecionar */
}

.selected-brand .brand-label {
  color: white; /* Cor do texto ao selecionar */
}

.brand-label {
  flex-grow: 1; /* Faz a label ocupar o espaço restante */
}

h2 span {
  margin-left: 10px; /* Espaçamento entre o texto e a seta */
}

.filter-brand-item span {
  font-size: 18px;
  font-weight: bold;
}

.filter-brand-item button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}

.filter-brand-item button:hover {
  background-color: #c9302c;
}



form {
  max-width: 600px;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type='text'],
form input[type='datetime-local'],
form input[type='url'],
form input[type='email'],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  height: 100px;
}

form button[type='submit'],
form button[type='button'] {
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 35px;
}

form button[type='submit']:hover,
form button[type='button']:hover {
  background-color: #45a049;
}


#brand-list {
  overflow-y: auto;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 40px;
}

.brand-item span {
  font-size: 18px;
  font-weight: bold;
}

.brand-item button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}

.brand-item button:hover {
  background-color: #c9302c;
}

.header-with-button {
  display: flex;
  justify-content: space-between; /* Empurra o botão para a direita */
  align-items: center; /* Alinha os itens verticalmente */
  width: 100%; /* Ocupa toda a largura do contêiner pai */
}

.email-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
}

.email-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.email-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.email-subject {
  font-weight: bold;
  font-size: 18px;
}

.email-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.email-button:hover {
  background-color: #45a049;
}

.email-body {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-container input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
}

.radio-container input[type='radio']:checked::before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #4caf50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.radio-container label {
  margin: 0;
}

.radio-container input[type='text'] {
  margin-left: 10px;
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 250px;
  margin-bottom: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.popup-buttons .cancel-button {
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.popup-buttons .cancel-button:hover {
  background-color: #bbb;
}

.popup-buttons .confirm-button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}